# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
bower_components

learning how to use git. a tool among 9 others to learn the skill of web development. 
using the methods of scrum and kabanom in Agile